@model Ouroboros_Elio.Models.LoginRegisterViewModel

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        Login & Register || Hiraola - Jewellery eCommerce Bootstrap 5 Template
    </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon"
          type="image/x-icon"
          href="~/assets/images/favicon.ico" />

    <!-- CSS
          ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="~/assets/css/fontawesome-stars.css" />
    <!-- Ion Icon -->
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css" />
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
    <!-- Nice Select -->
    <link rel="stylesheet" href="~/assets/css/nice-select.min.css" />
    <!-- Timecircles -->
    <link rel="stylesheet" href="~/assets/css/timecircles.min.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body class="template-color-1">
    <div class="main-wrapper">
        <!-- Begin Hiraola's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Other</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Login & Register</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Hiraola's Breadcrumb Area End Here -->
        <!-- Begin Hiraola's Login Register Area -->
        <div class="hiraola-login-register_area">
            <div class="container">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["Error"]
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                        <!-- Login Form s-->
                        <form asp-area="" asp-controller="Auth" asp-action="Login" method="post">
                            <div class="login-form">
                                <h4 class="login-title">Login</h4>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <label asp-for="Login.Gmail">Email Address*</label>
                                        <input asp-for="Login.Gmail" type="email" placeholder="Email Address" />
                                        <span asp-validation-for="Login.Gmail" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 mb--20">
                                        <label asp-for="Login.Password">Password</label>
                                        <input asp-for="Login.Password" type="password" placeholder="Password" />
                                        <span asp-validation-for="Login.Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="check-box">
                                            <input asp-for="Login.RememberMe" type="checkbox" id="remember_me" />
                                            <label asp-for="Login.RememberMe" for="remember_me">Remember me</label>
                                        </div>
                                    </div>
                                @*     <div class="col-md-4">
                                        <div class="forgotton-password_info">
                                            <a href="#"> Forgotten pasward?</a>
                                        </div>
                                    </div> *@
                                    <div class="col-md-12">
                                        <button class="hiraola-login_btn">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                        <form asp-area="" asp-controller="Auth" asp-action="RegisterAndSendMail" method="post">
                            <div class="login-form">
                                <h4 class="login-title">Register</h4>
                                <div class="row">
                                    <div class="col-md-6 col-12 mb--20">
                                        <label asp-for="Register.UserName">UserName</label>
                                        <input asp-for="Register.UserName" type="text" placeholder="First Name" />
                                        <span asp-validation-for="Register.UserName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-12 mb--20">
                                        <label asp-for="Register.Phone">Phone</label>
                                        <input asp-for="Register.Phone" type="text" placeholder="Last Name" />
                                        <span asp-validation-for="Register.Phone" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <label asp-for="Register.Gmail">Gmail*</label>
                                        <input asp-for="Register.Gmail" type="email" placeholder="Email Address" />
                                        <span asp-validation-for="Register.Gmail" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Register.Password">Password</label>
                                        <input asp-for="Register.Password" type="password" placeholder="Password" />
                                        <span asp-validation-for="Register.Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Register.ConfirmPassword">Confirm Password</label>
                                        <input asp-for="Register.ConfirmPassword" type="password" placeholder="Confirm Password" />
                                        <span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <label asp-for="Register.Address">Address*</label>
                                        <input asp-for="Register.Address" type="address" placeholder="Address" />
                                        <span asp-validation-for="Register.Address" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <button class="hiraola-register_btn">Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Login Register Area  End Here -->
    </div>


    <!-- JS
      ============================================ -->
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/assets/js/plugins/countdown.min.js"></script>
    <!-- Barrating JS -->
    <script src="~/assets/js/plugins/jquery.barrating.min.js"></script>
    <!-- Counterup JS -->
    <script src="~/assets/js/plugins/jquery.counterup.min.js"></script>
    <!-- Waypoints -->
    <script src="~/assets/js/plugins/waypoints.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Sticky Sidebar JS -->
    <script src="~/assets/js/plugins/jquery.sticky-sidebar.js"></script>
    <!-- Jquery-ui JS -->
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <!-- Scroll Top JS -->
    <script src="~/assets/js/plugins/scroll-top.min.js"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="~/assets/js/plugins/theia-sticky-sidebar.min.js"></script>
    <!-- ElevateZoom JS -->
    <script src="~/assets/js/plugins/jquery.elevateZoom-3.0.8.min.js"></script>
    <!-- Timecircles JS -->
    <script src="~/assets/js/plugins/timecircles.min.js"></script>
    <!-- Mailchimp Ajax JS -->
    <script src="~/assets/js/plugins/mailchimp-ajax.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    <!-- <script src="assets/js/main.min.js"></script> -->
</body>
</html>
