

<body class="template-color-1">
    <div class="main-wrapper">
        <!-- Begin Hiraola's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Khác</h2>
                    <ul>
                        <li><a href="/Home/Index">Trang Chủ</a></li>
                        <li class="active">Về Chúng Tôi</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Hiraola's Breadcrumb Area End Here -->
        <!-- Begin Hiraola's About Us Area -->
        <div class="about-us-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex align-items-center">
                        <div class="overview-content">
                            <h2>Chào Mừng tới<span> Ouroboros</span>!</h2>
                            <p class="short_desc">
                                Chúng tôi cung cấp cho người dùng các tính năng cơ bản như mua các sản phẩm có sẵn. Ngoài ra, chúng tôi tập trung vào việc cho phép người dùng thiết kế vòng cổ của riêng họ. Với danh sách các mặt charm có sẵn, người dùng chỉ cần kéo và thả để hoàn thành một chiếc vòng tay ưng ý.
                            </p>
                            <div class="hiraola-about-us_btn-area">
                                <a class="about-us_btn" href="/Product/ProductList">Cửa Hàng</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="overview-img text-center img-hover_effect">
                            <a href="#">
                                <img class="img-full"
                                     src="~/img/test6.jpg"
                                     alt="Hiraola's About Us Image" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's About Us Area End Here -->
        <!-- Begin Hiraola's Project Countdown Area -->
        <div class="project-count-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-count text-center">
                            <div class="count-icon">
                                <span class="ion-ios-briefcase-outline"></span>
                            </div>
                            <div class="count-title">
                                <h2 class="">~~~</h2>
                                <span>Project Done</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-count text-center">
                            <div class="count-icon">
                                <span class="ion-ios-wineglass-outline"></span>
                            </div>
                            <div class="count-title">
                                <h2 class="">~~~</h2>
                                <span>Awards Winned</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-count text-center">
                            <div class="count-icon">
                                <span class="ion-ios-lightbulb-outline"></span>
                            </div>
                            <div class="count-title">
                                <h2 class="">~~~</h2>
                                <span>Hours Worked</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-count text-center">
                            <div class="count-icon">
                                <span class="ion-happy-outline"></span>
                            </div>
                            <div class="count-title">
                                <h2 class="">~~~</h2>
                                <span>Happy Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Project Countdown Area End Here -->
        <!-- Begin Hiraola's Team Area -->
        <div class="team-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title-2">
                            <h4>Our Team</h4>
                        </div>
                    </div>
                </div>
                <!-- section title end -->
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="team-member">
                            <div class="team-thumb img-hover_effect">
                                <a href="#" style="border-radius:10%;">
                                    <img src="~/img/minhPhuc.png" style="max-height:216.66px;"
										 alt="Our Team Member" />
                                </a>
                            </div>
                            <div class="team-content text-center">
                                <h3>Minh Phúc</h3>
                                <p>Backend Developer</p>
                                @* <a href="#">info@example.com</a> *@
                                <div class="hiraola-social_link" style="
                                     padding-top: 0;">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Youtube">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single team member -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-member">
                            <div class="team-thumb img-hover_effect">
                                <a href="#" style="border-radius:10%;">
                                    <img src="~/img/myKim.jpg"
                                         alt="Our Team Member" />
                                </a>
                            </div>
                            <div class="team-content text-center">
                                <h3>Mỹ Kim</h3>
                                <p>Graphic Designer</p>
                                @* <a href="#">info@example.com</a> *@
                                <div class="hiraola-social_link" style="
                                     padding-top: 0;">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Youtube">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single team member -->
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="team-member">
                            <div class="team-thumb img-hover_effect">
                                <a href="#" style="border-radius:10%;">
                                    <img src="~/img/trongNghia.png"
                                         alt="Our Team Member" />
                                </a>
                            </div>
                            <div class="team-content text-center">
                                <h3>Trọng Nghĩa</h3>
                                <p>Fullstack Developer</p>
                                @* <a href="javascript:void(0)">info@example.com</a> *@
                                <div class="hiraola-social_link" style="
                                     padding-top: 0;">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Youtube">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single team member -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-member">
                            <div class="team-thumb img-hover_effect">
                                <a href="#" style="border-radius:10%;">
                                    <img src="~/img/ngocThu.jpg"
                                         alt="Our Team Member" style="max-height:345px "/>
                                </a>
                            </div>
                            <div class="team-content text-center">
                                <h3>Ngọc Thư</h3>
                                <p>CEO</p>
                                @* <a href="#">info@example.com</a> *@
                                <div class="hiraola-social_link" style="
                                     padding-top: 0;">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Youtube">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single team member -->
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="team-member">
                            <div class="team-thumb img-hover_effect">
                                <a href="#" style="border-radius:10%;">
                                    <img src="~/img/NgocQuan.jpg"
                                         alt="Our Team Member" />
                                </a>
                            </div>
                            <div class="team-content text-center">
                                <h3>Ngọc Quân</h3>
                                <p>Frontend Developer</p>
                                @* <a href="#">info@example.com</a> *@
                                <div class="hiraola-social_link" style="
                                     padding-top: 0;">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Youtube">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com"
                                               data-bs-toggle="tooltip"
                                               target="_blank"
                                               title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single team member -->
                </div>
            </div>
        </div>
        <!-- Hiraola's Team Area End Here -->
    </div>    
</body>

