<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OROBORUS</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/menu//logo/oroborus.jpg">

    <!-- Đoạn code cho VerifyResult hoạt động -->
    @await RenderSectionAsync("Styles", required: false)

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="~/assets/css/fontawesome-stars.css" />
    <!-- Ion Icon -->
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css" />
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
    <!-- Nice Select -->
    <link rel="stylesheet" href="~/assets/css/nice-select.min.css" />
    <!-- Timecircles -->
    <link rel="stylesheet" href="~/assets/css/timecircles.min.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body class="template-color-1">
    <!-- Hiệu ứng nền Particles.js -->
    <div id="particles-js" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div>
    <!---->

    <div class="main-wrapper">
        <header class="header-main_area">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="ht-left_area">
                                <div class="header-shipping_area">
                                    <ul>
                                        <li>
                                            @if (User.Identity.IsAuthenticated && Context.Request.Cookies["Email"] != null)
                                            {
                                                <span>Email: </span>
                                                <a href="#">@Context.Request.Cookies["Email"]</a>
                                            }
                                            else
                                            {
                                                <span>Email: </span>
                                                <a href="#"></a>
                                            }                                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="ht-right_area">
                                <div class="ht-menu">
                                    <ul>
                                        <li>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a href="#">@User.Identity.Name<i class="fa fa-chevron-down"></i></a>
                                                <ul class="ht-dropdown ht-my_account">
                                                    <li class="active"><a asp-controller="Auth" asp-action="Logout">Đăng Xuất</a></li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <a href="/Auth/Register">Tài Khoản<i class="fa fa-chevron-down"></i></a>
                                                <ul class="ht-dropdown ht-my_account">
                                                    <li class="active"><a href="/Auth/Register">Đăng Nhập</a></li>
                                                </ul>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="header-logo">
                                <a href="/Product/ProductList">
                                    <img src="~/assets/images/menu/logo/oroborus.jpg" alt="Hiraola's Header Logo" style="width: 20%">
                                    <img src="~/assets/images/menu/logo/oroletter.jpg" alt="Hiraola's Header Logo" style="width: 50%">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="hm-form_area">
                                <form action="#" class="hm-searchbox">
                                    <input type="text" placeholder="Tìm Kiếm...">
                                    <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom_area header-sticky stick">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 d-lg-none d-block">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="~/assets/images/menu/logo/2.png" alt="Hiraola's Header Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 d-none d-lg-block position-static">
                            <div class="main-menu_area">
                                <nav>
                                    <ul>
                                        <li class="dropdown-holder">
                                            <a href="/Product/ProductList">Trang Chủ</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-8 col-sm-8">
                            <div class="header-right_area">
                                <ul>
                                    <li>
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white d-lg-none d-block">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Cart" asp-action="CartDetail" class="wishlist-btn">
                                            <i class="ion-bag"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Hiển thị nội dung-->
        @RenderBody()
        <!--------------------->
        <div class="hiraola-footer_area">
            <div class="footer-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-widgets_info">
                                <div class="footer-widgets_logo">
                                    <a href="#">
                                        <img src="~/assets/images/footer/logo/1.png" alt="Logo Ouroboros Elio">
                                    </a>
                                </div>
                                <div class="widget-short_desc">
                                    <p>
                                        Ouroboros Elio - Nơi bạn tự do sáng tạo những chiếc vòng tay độc đáo, mang đậm dấu ấn cá nhân. Chúng tôi mang đến sản phẩm thủ công chất lượng cao, thiết kế theo ý tưởng của bạn!
                                    </p>
                                </div>
                                <div class="hiraola-social_link">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com" data-bs-toggle="tooltip" target="_blank" title="Theo dõi trên Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com" data-bs-toggle="tooltip" target="_blank" title="Theo dõi trên Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover" data-bs-toggle="tooltip" target="_blank" title="Theo dõi trên Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://www.instagram.com" data-bs-toggle="tooltip" target="_blank" title="Theo dõi trên Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="footer-widgets_area">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="footer-widgets_title">
                                            <h6>Sản Phẩm</h6>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="#">Mẫu vòng tay mới</a></li>
                                                <li><a href="#">Thiết kế độc quyền</a></li>
                                                <li><a href="#">Vòng tay bán chạy</a></li>
                                                <li><a href="#">Liên hệ tư vấn</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="footer-widgets_info">
                                            <div class="footer-widgets_title">
                                                <h6>Về Chúng Tôi</h6>
                                            </div>
                                            <div class="widgets-essential_stuff">
                                                <ul>
                                                    <li class="hiraola-address">
                                                        <i class="ion-ios-location"></i><span>Địa chỉ:</span> 123 Đường Lê Lợi, Quận 1, TP. Hồ Chí Minh, Việt Nam
                                                    </li>
                                                    <li class="hiraola-phone">
                                                        <i class="ion-ios-telephone"></i><span>Liên hệ:</span> <a href="tel://+84912345678">+84 912 345 678</a>
                                                    </li>
                                                    <li class="hiraola-email">
                                                        <i class="ion-android-mail"></i><span>Email:</span> <a href="mailto://contact@ouroboroselio.com">contact@ouroboroselio.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="instagram-container footer-widgets_area">
                                            <div class="footer-widgets_title">
                                                <h6>Đăng Ký Nhận Tin</h6>
                                            </div>
                                            <div class="widget-short_desc">
                                                <p>Đăng ký ngay để nhận thông tin về các mẫu vòng tay mới, ưu đãi đặc biệt và ý tưởng thiết kế độc đáo!</p>
                                            </div>
                                            <div class="newsletter-form_wrap">
                                                <form class="subscribe-form" id="mc-form" action="#">
                                                    <input class="newsletter-input" id="mc-email" type="email" autocomplete="off" name="Nhập Email Của Bạn" value="Nhập Email Của Bạn" onblur="if(this.value==''){this.value='Nhập Email Của Bạn'}" onfocus="if(this.value=='Nhập Email Của Bạn'){this.value=''}">
                                                    <button class="newsletter-btn" id="mc-submit">
                                                        <i class="ion-android-mail"></i>
                                                    </button>
                                                </form>
                                                <!-- Mailchimp Alerts -->
                                                <div class="mailchimp-alerts mt-3">
                                                    <div class="mailchimp-submitting"></div>
                                                    <div class="mailchimp-success"></div>
                                                    <div class="mailchimp-error"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/assets/js/plugins/countdown.min.js"></script>
    <!-- Barrating JS -->
    <script src="~/assets/js/plugins/jquery.barrating.min.js"></script>
    <!-- Counterup JS -->
    <script src="~/assets/js/plugins/jquery.counterup.min.js"></script>
    <!-- Waypoints -->
    <script src="~/assets/js/plugins/waypoints.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Sticky Sidebar JS -->
    <script src="~/assets/js/plugins/jquery.sticky-sidebar.js"></script>
    <!-- Jquery-ui JS -->
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <!-- Scroll Top JS -->
    <script src="~/assets/js/plugins/scroll-top.min.js"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="~/assets/js/plugins/theia-sticky-sidebar.min.js"></script>
    <!-- ElevateZoom JS -->
    <script src="~/assets/js/plugins/jquery.elevateZoom-3.0.8.min.js"></script>
    <!-- Timecircles JS -->
    <script src="~/assets/js/plugins/timecircles.min.js"></script>
    <!-- Mailchimp Ajax JS -->
    <script src="~/assets/js/plugins/mailchimp-ajax.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Start Register.cshtml -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Khởi tạo Particles.js
            particlesJS('particles-js', {
                particles: {
                    number: { value: 60, density: { enable: true, value_area: 800 } },
                    color: { value: ['#ff6b6b', '#4ecdc4', '#f7b731'] },
                    shape: { type: ['circle', 'star'], stroke: { width: 0 } },
                    opacity: { value: 0.6, random: true, anim: { enable: false } },
                    size: { value: 3, random: true, anim: { enable: false } },
                    line_linked: { enable: true, distance: 120, color: '#ffffff', opacity: 0.3, width: 1 },
                    move: {
                        enable: true,
                        speed: 1.5,
                        direction: 'none',
                        random: true,
                        straight: false,
                        out_mode: 'out',
                        bounce: false
                    }
                },
                interactivity: {
                    detect_on: 'canvas',
                    events: {
                        onhover: { enable: true, mode: 'grab' },
                        onclick: { enable: true, mode: 'push' },
                        resize: true
                    },
                    modes: {
                        grab: { distance: 140, line_linked: { opacity: 0.7 } },
                        push: { particles_nb: 3 }
                    }
                },
                retina_detect: true
            });

            // Hiệu ứng fade cho particles khi tải trang
            $('#particles-js').css('opacity', 0).animate({ opacity: 1 }, 1000);
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Regitres.cshtml End -->
</body>
</html>
